.form-container {
  width: 100%;
  display: grid;

  .form-group {
    width: 100%;
    margin-bottom: 16px;

    .form-input {
      width: 100%;
      background: none;
      color: theme-palette-color('font', 'title');
      font-size: 14px;
      padding: 10px;
      border: 1px solid theme-palette-color('grays', 200);
      outline: none;
      font-family: $font-family;
      cursor: text;
      border-radius: 6px;
    }

    .form-label {
      display: inline-block;
      color: theme-palette-color('font', 'title');
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 6px;
    }
  }
}

.btn {
  width: 100%;
  background: theme-palette-color('color', 'primary');
  border: none;
  outline: none;
  border-radius: 6px;
  font-weight: 500;
  color: theme-palette-color('background', 'secondary');
  padding: 10px;
  cursor: pointer;
}


