<div class="wrapper-login">
  <div class="login">
    <div class="left-login">
      <div class="left-login--header">
        <img ngSrc="assets/images/login/logo.png" alt="" class="image-logo" height="102" width="97">
      </div>
      <div class="left-login--body">
        <form class="grid" autocomplete="off">
          <div class="col-12">
            <div class="form-container">
              <div class="form-group">
                <label class="form-label" for="email">User</label>
                <input id="email" type="text" placeholder="Email" class="form-input">
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="form-container">
              <div class="form-group">
                <label class="form-label" for="password">Contraseña</label>
                <input id="password" type="password" placeholder="Contraseña" class="form-input">
              </div>
            </div>
          </div>
          <div class="col-12">
            <button class="btn" (click)="goTo()">Iniciar sesión</button>
          </div>
        </form>
        <p class="new-user">¿Aún no tienes una cuenta? <span>Crea una</span></p>
      </div>
    </div>
    <img ngSrc="assets/images/login/background.jpg" priority="" alt="" class="image-right-login" height="1000"
         width="1000">
  </div>
</div>
