@import "main";

.wrapper-menu {
  width: 100%;
  min-width: 280px;
  height: 100vh;
  background: theme-palette-color('color', 'terciary');
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;

  .top-menu {
    display: flex;
    flex-direction: column;
    gap: 30px;

    img {
      width: 50px;
      height: 50px;
    }

    .list-menu {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .item-menu {
        display: flex;
        gap: 14px;
        align-items: center;
        text-decoration: none;
        padding: 10px 0 10px 14px;
        border-radius: 8px;

        em {
          font-size: 18px;
          color: theme-palette-color('font', 'title');
        }

        .item {
          color: theme-palette-color('font', 'title');
          font-size: 16px;
          list-style: none;
        }

        &:hover {
          background: theme-palette-color('color', 'hover');
          padding-left: 6px;
          border-left: 8px solid theme-palette-color('color', 'primary');
          font-weight: 450;
        }

        &:active {
          color: theme-palette-color('font', 'title');
        }
      }

      .item-menu-active {
        background: theme-palette-color('color', 'hover');
        padding-left: 6px;
        border-left: 8px solid theme-palette-color('color', 'primary');
        font-weight: 450;
      }
    }
  }
}
