<div class="wrapper-menu">
  <div class="top-menu">
    <img ngSrc="assets/images/login/logo.png" alt="" height="102" width="97">
    <ul class="list-menu">
      <a routerLink="dashboard" routerLinkActive="item-menu-active" class="item-menu">
        <em class="icon-dashboard"> </em>
        <li class="item">Dashboard</li>
      </a>
      <a routerLink="product" routerLinkActive="item-menu-active" class="item-menu">
        <em class="icon-folder"> </em>
        <li class="item">Productos</li>
      </a>
      <a href="" class="item-menu">
        <em class="icon-table-col-after"> </em>
        <li class="item">Ventas</li>
      </a>
    </ul>

  </div>

  <div class="bottom-menu">
    <button class="btn justify-content-start" >
      <em class="icon-log-out"></em>
      Cerrar sesión</button>
  </div>


</div>

